.container {
    padding: 5px;
    margin: 0 auto;
    max-width: 900px;
}

.row {
	margin-bottom: 5px;
}

.flex-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.flex-container2 {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.flex-background {
    background: url(./../assets/images/IMG-20210225-WA0002.jpg) top no-repeat;
}

.logo {
    padding-left: 30px;
}

.title {
    font-size: xx-large;
    font-weight: 800;
}

.subtitle {
    font-size: large;
    font-weight: 500;
}
.contact {
    padding: 20px;
    font-weight: 500;
}