
<div class="flex-container flex-background">
  <div class="flex-container2">
    <div class="flex-container">
      <h1 class="title" >Popular Glass printers</h1>
      <div class="subtitle">A brand in glass bottle printing.</div>
      <div class="subtitle">Situated in the heart of Mumbai</div>
    </div>
      
    <div class="logo">
      <img src="./assets/images/logo.png" alt="Logo" class="logo">
    </div>
      
  </div>
</div>
<div class="container">
  <div class="container">
    <h2>Mesmerizing Printing</h2>
    <carousel [images]="images2" [objectFit]="'cover'" [cellWidth]="'100%'" [height]="300" [borderRadius]="10"
      [arrowsOutside]="true" [autoplay]="true" [dots]="false" [loop]="true">
    </carousel>
  </div>

  <h3>Distilling Colors and Frosting</h3>
  <div class="row">
    <carousel [cellsToShow]="3" [images]="images2">
    </carousel>
  </div>

</div>

<hr/>
<div class="flex-container2">
  <div class="contact">Contact Sayed Farhat on Mobile: +91 75062 50012 Email: SayedFarhat@gmail.com</div>
  <div class="contact">Address: Popular Glass Factory, Wada, Bhiwandi, District Thane</div>
</div>
<router-outlet></router-outlet>
